@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eaeef0;
}

.animates {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 80px;
}

header ul {
  position: relative;
  display: flex;
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #303030;
  text-decoration: none;
  font-weight: 400;
  margin-left: 2.5rem;
  transition: 0.3s ease;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

header ul li a:hover {
  border-top: 2px solid #dd303e;
  border-bottom: 2px solid #dd303e;
}

.konten {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.konten .kontener-teks {
  position: relative;
  max-width: 600px;
}

.konten .kontener-teks h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4;
  font-weight: 500;
}

.konten .kontener-teks h2 span {
  color: #dd303e;
  font-size: 1em;
  font-weight: 900;
}

.konten .kontener-teks p {
  color: #333;
}

.konten .kontener-teks button.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 100px;
  background: #dd303e;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.6s;
  text-transform: capitalize;
  border: 5px solid transparent;
}

/* .konten .kontener-teks:hover .btn:hover {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 100px;
  background: #fff;
  color: #dd303e;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: 5px solid #dd303e;
} */

.konten .kontener-gambar {
  /* width: 600px; */
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.konten .kontener-gambar img {
  max-height: 340px;
}

.ikongambar {
  left: 50%;
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.ikongambar li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.ikongambar li:hover {
  transform: translateY(-15px);
}

.ikongambar li img {
  max-width: 60px;
}

.sci {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(0);
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #dd303e;
  clip-path: circle(600px at right 800px);
}

.circle2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #b9aeae5d;
  clip-path: circle(490px at right 790px);
}

.circle3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff41;
  clip-path: circle(380px at right 790px);
}

.menu-utama {
  background: #dd303e00;
}

.menu-utama2 {
  display: none;
}

@media (min-width: 320px) and (max-width: 640px) {
  header {
    padding: 20px;
  }

  header .logo {
    max-width: 60px;
  }

  header ul {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('../images/menu.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }

  .toggle.active {
    position: fixed;
    right: 20px;
    background: url('../images/close.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(0);
  }

  .menu-utama {
    display: none;
  }

  .menu-utama2 {
    background: #dd303e;
  }

  header ul.menu-utama2.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
  }

  header ul li a {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  header ul li a:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  section {
    padding: 20px 20px 120px;
  }

  .konten {
    flex-direction: column;
    margin-top: 100px;
  }

  .konten .kontener-teks {
    max-width: 100%;
  }

  .konten .kontener-gambar {
    justify-content: center;
    max-width: 100%;
  }

  .konten .kontener-gambar img {
    height: 250px;
  }

  .konten .kontener-teks a {
    padding: 13px 56px;
  }

  .konten .kontener-teks h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .circle {
    clip-path: circle(250px at center bottom);
  }

  .circle2 {
    clip-path: circle(210px at center bottom);
  }

  .circle3 {
    clip-path: circle(160px at center bottom);
  }

  .ikongambar li img {
    max-width: 40px;
  }

  .sci {
    right: 0;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .menu {
    background: #dd303e;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    visibility: visible !important;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    outline: none;
    z-index: 123123123124;
  }

  .menu:focus {
    outline: none;
    border: none;
  }

  .menu:active {
    outline: none;
    border: none;
  }

  .line {
    fill: none;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
    stroke: white;
  }

  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
    stroke: white;
  }

  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
    stroke: white;
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
    stroke: white;
  }

  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
    stroke: white;
  }

  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
    stroke: white;
  }
}

/*==============================
        code for preloder start
===============================*/
#loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  position: absolute;
  display: flex;
}
.loader span {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #eaeef0;
  border: 6px solid #eaeef0;
  border-radius: 50%;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1), 8px 8px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.loader span::before {
  content: '';
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5), inset -5px -5px 15px rgba(255, 255, 255, 1);
}

.loader span::after {
  content: '';
  position: absolute;
  inset: 40px;
  background: #eaeef0;
  border: 3px solid #eaeef0;
  border-radius: 50%;
  box-shadow: -8px -8px 25px rgba(255, 255, 255, 1), 8px 8px 25px rgba(0, 0, 0, 0.25), inset 3px 3px 10px rgba(0, 0, 0, 0.15), inset -1px -1px 15px rgba(255, 255, 255, 1);
}

.loader span i {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  filter: blur(5px);
  background: linear-gradient(rgb(255, 196, 0), rgb(255, 0, 0), rgb(75, 0, 251));
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rocket {
  position: absolute;
  inset: 50px;
  z-index: 10;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rocket .rocketin {
  position: absolute;
  color: rgb(59, 59, 59);
  font-size: 4em;
  -webkit-text-stroke: 2px rgb(19, 19, 19);
  animation: animateRocket 0.2s linear infinite;
}

@keyframes animateRocket {
  0%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50% {
    transform: translate(0px, 3px) rotate(-45deg);
  }
}

.fa-clouds {
  position: absolute;
  top: calc(35px * var(--i));
  left: calc(45px * var(--i));
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 2px rgb(104, 104, 104);
  animation: animateCloud 3s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animateCloud {
  0% {
    transform: translateY(calc(-35 * 5px));
  }
  100% {
    transform: translateY(calc(35 * 5px));
  }
}

/*==============================
      code for preloder end
===============================*/
